#logo {
  height: 100px;
  width: 100px;
}

header {
  font-family: 'Rye', cursive;
}

.titre {
   color:white;
   background-color: rgb(35, 98, 235);
   font-size :20px;
   display: flex;
   justify-content:center;
}

.content-box {

};

p {
    color :#2C73D2;
    font-size : 20px;
}

img {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the tab buttons */
.tablink {
    background-color: rgb(35, 98, 235);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-family: merit4;
  }

  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
